/* assets/css/confirmacion_pedido.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #333;
}

#infoCliente,
#detallesEntrega {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 15px;
}

h4 {
    color: #555;
}

p {
    margin-bottom: 10px;
}

strong {
    color: #007bff;
    /* Azul, puedes cambiarlo al color que prefieras */
}